{% extends "habitTrackerApp/base.html" %}

{% block content %}
    <h1>Targets</h1>
    <a href="{% url 'habit_log_create' %}">Create New Habit Log</a>

    <table >
        <thead>
            <tr>
                <th>Habit</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for habit_log in object_list %}
                <tr>
                    <td>{{ habit_log.habit.name}}</td>
                    <td>{{ habit_log.date | date:"Y-m-d" }}</td>
                    <td>{{ habit_log.quantity }}</td>
                    <td>
                        <a href="{% url 'habit_log_update' habit_log.pk %}">Edit</a> |
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No record available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
