{% extends "habitTrackerApp/base.html" %}

{% block content %}
  <div class="container">
    <h1>Home</h1>
    
    <form method="get">
      {{ target_form.as_p }}
      <button type="submit">Show Habit Logs</button>
    </form>

    {% if target %}
      <h2>Habit Logs for "{{ target.title }}"</h2>
      <style>
        .target-info {
          display: flex;
          flex-wrap: wrap;
        }
        
        .target-info div {
          flex: 0 0 calc(50% - 10px);
          margin-bottom: 5px;
        }
      </style>
      
      <div class="target-info">
        <div><strong>Target Start Date:</strong> {{ target.start_date | date:"d-M-Y" }}</div>
        <div><strong>Target End Date:</strong> {{ target.end_date | date:"d-M-Y" }}</div>
        <div><strong>Target Quantity:</strong> {{ target_quantity }}</div>
        <div><strong>Current Rate:</strong> {{ current_rate }}</div>
        <div><strong>Required Rate:</strong> {{ required_rate }}</div>
        <div><strong>Target Achieved Percentage:</strong> {{ target_achieved_percent }}%</div>
      </div>
      

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>{{unit_habit_logs}} per day</th>
            <th>{{unit_habit_logs}} cumulative</th>
            <th>{{unit_habit_logs}} expected</th>            
          </tr>
        </thead>
        <tbody>
        {% for log in habit_logs %}
            <tr>
              <td>{{ log.date | date:"d-M-Y D" }}</td>
              <td>{{ log.total_quantity }}</td>
              <td>{{ log.habit_logs_quantity_cumsum }}</td>
              <td>{{ log.target_expected_quantity_cumsum | floatformat:0 }}  </td>              
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No records selected or available.</p>
    {% endif %}
  </div>
{% endblock %}